@page
@model TorneoJudo.Pages.ErrorePotenza2Model
@{
    ViewData["Title"] = "ErrorePotenza2";
}

<h1 class="backgroundopacity rounded error" style="color:darkred">IL TORNEO NON PUO' ESSERE AVVIATO PERCHE' IL NUMERO DI PARTECIPANTI NON E' UNA POTENZA DI 2</h1>

